body
{
  background: url('/images/nynight.jpg');
  background-size: 100%;
  color: whitesmoke;
  font-family: 'Rokkitt';
}

h1
{
  color: whitesmoke;
  text-shadow: 
  0 0 40px orange, 
  0 0 70px orangered;
  font-size: 48px;
  letter-spacing: 1px;
  margin-bottom: 32px;
}

h3
{
  line-height: 26px;
  font-size: 30px;
}

p, ul, li, #brand
{
  font-size: 24px;
  font-family: 'Rokkitt';
  line-height: 23px;
}

#talkbutton
{
  float: left;
  clear: right;
}

#signup_form
{
  background-color: whitesmoke; 
  top: 400px;
}

#gmap
{
  float: right;
  margin-left: 20px;
}

#brand
{
  cursor: pointer;
  padding: 10px 15px 10px;
}

.anchor a
{
  width: 100%;
  padding-bottom: 50px;
  display: block;
}

.navbar .brand
{
  margin-left: 53px;
}

.section
{
  height: 650px;
  padding: 70px;
}

#bottom
{
  height: 100px;
  font-size: 23px;
  position: absolute;
  left: 70px;
}

#bottom a
{
  margin-right: 12px;
}

#OSConf-navbar-logo {
  margin-top: 3px;
}