
h1
{
  width: 80%;
  margin-left: 10%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  color: whitesmoke;
}

#signup_form
{
  background-color: whitesmoke; 
  top: 400px;
}

.section,
#main
{
  width: 80%;
  float: left;
  margin-left: 10%;
  background-color: whitesmoke;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 6px;
}

.sponsorimage
{
  height: 40px;
  margin-right: 30px;
  display: inline;
}

.featurebox {
  height: 250px; 
  width: 250px; 
  margin: 10px; 
  margin-top: 0px; 
  padding: 10px; 
  text-align: center; 
  background-color: whitesmoke; 
  opacity: 1; 
  float: left;
  opacity: .9;
}

.btn-purple {
  border: none;
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", #900aff, #540099));
  background-image: -khtml-gradient(linear, left top, left bottom, from(#900aff), to(#540099));
  background-image: -moz-linear-gradient(top, #900aff, #540099);
  background-image: -ms-linear-gradient(top, #900aff, #540099);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #900aff), color-stop(100%, #540099));
  background-image: -webkit-linear-gradient(top, #900aff, #540099);
  background-image: -o-linear-gradient(top, #900aff, #540099);
  background-image: linear-gradient(#900aff, #540099);
  background-color: #540099 !important;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}