/**
 * OPEN TECH 2012 STYLESHEET
 * Meghan Gill, Coalition for Queens
 * Authors: @jdunham, @ggundersen
 **/

/* Structure
 ========================================================*/
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  background-image: url('http://www.opentech2013.org/images/scloth_alike.png');
  color: #000;
}
.section,
#bottom,
#main_s,
#navbar {
  width: 700px;
  padding-left: 70px;
  padding-right: 70px;
  -webkit-box-shadow: 3px 3px 8px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    3px 3px 8px rgba(50, 50, 50, 0.5);
  box-shadow:         3px 3px 8px rgba(50, 50, 50, 0.5);
}
#navbar {
  background: #000;
  margin: 20px auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.section {
  background-color: #fff;
  margin: auto;
  padding-bottom: 70px;
  padding-top: 20px;
}
#bottom {
  background: #000;
  margin: 20px auto;
  padding-bottom: 20px;
  padding-top: 25px;
}
/* Elements
 ========================================================*/
ul.nav,
ul.sharenav {
  list-style: none;
  padding: 0;
  /*margin: 0;*/
  margin-top: 25px;
}
ul.sharenav {
    padding-top: 20px;
}
ul.nav li,
ul.sharenav li {
  display: inline;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
  margin: 0;
}
h4,
h4 a {
  font-size: 14px;
  margin: 0;
}
a {
  color: #b933ad;
  text-decoration: none;
  border-bottom: 1px dotted #b933ad;
}
a:hover {
  color: #00b0ff;
  border-color: #00b0ff;
}
#navbar a {
    border: none;
}
#navbar a#logo {
  font-size: 30px;
  padding-top: 2px;
}
#navbar a#logo:hover {
  color: #00b0ff;
}
p, a, ul, li, td {
  font-size: 14px;
}
td {
  padding-top: 16px;
  padding-bottom: 6px;
  font-weight: normal;
  vertical-align: top;
}
td.time {
  font-weight: bold;
  width: 30%;
}
td p
{
  margin-top: 0px;
  padding-top: 0px;
}
#main_s a {
    text-decoration: none !important; /* overwriting Eventbrite */
}
#bottom a {
    border: none;
}
.anchor a {
  width: 100%;
  padding-bottom: 50px;
  display: block;
}
#bottom a {
  margin-right: 12px;
  margin: 0px;
  padding: 0px;
}
 /* Navbar
  ========================================================*/
#navbar #logo {
  color: #fff;
  cursor: pointer;
  font-size: 36px;    
  font-weight: bold;
  text-transform: uppercase;
}
#navbar #navbar-date {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  /*margin-left: 12px;
    padding-left: 20px;*/
}
#navbar #logo img{
  float: right;
}
/* Sponsors
 ========================================================*/
#sponsor_s ul {
  padding: 0;
}
#sponsor_s li a {
  text-decoration: none;
  border-bottom: none;
}
#sponsor_s li {
  padding: 10px 0;
}
#sponsor_s li:first-child {
  padding-top: 50px; 
}
#sponsor_s ul li {
  list-style: none;
  list-style-image: none;
  margin-bottom: 10px;
  margin-left: 0px;
}
.sponsor {
  height: 70px;
  margin-bottom: 16px;
}
/* Bio
 ========================================================*/
.biotitle {
  font-style: italic;
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  margin-top: -2px;
}
.bioname {
  display: block;
  font-weight: bold;
  cursor: pointer;
}
.talkintro {
  font-weight: bold;
}
.bio,
.bio a {
  margin-bottom: 38px;
}
.postdate p {
  font-size: 16px;
  margin-top: -10px;
}
#navbar li {
    padding-right: 10px;
}
.sharetext {
  color: #fff;
}
#talkbutton {
  float: left;
  clear: right;
}
#signup_form {
  top: 400px;
}
#gmap {
  float: right;
  margin-left: 20px;
}
#OSConf-navbar-logo {
  margin-top: 3px;
}
#youlink {
  cursor: pointer;
}
