<% content_for :css do %>
	<%= include_stylesheets :all %>
<% end %>

<% content_for :js do %>
    <%= include_javascripts :all %>
<% end %>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" id="brand">Open Tech NYC 2013<span class="smaller">March 30, 2013 / Queens, New York</span></a>
    <ul class="nav" id="navbar">
      <li><a href="javascript:void(0);" id="about_c">About</a></li>
      <li><a href="javascript:void(0);" id="attend_c">Attend</a></li>
      <!-- <li><a href="javascript:void(0);" id="speakers">Speakers</a></li> -->
      <li><a href="javascript:void(0);" id="speak_c">Call for Talks</a></li>
      <li><a href="javascript:void(0);" id="blog_c">Blog</a></li>
    </ul>
  </div>
</div>

<div class="section" id="about_s">
<h1>Open source is powering the NYC tech scene.</h1>
<h3>NYC Open Tech Conference<br/>March 30, 2013<br/>Queens, New York<br/></h3>
<p>We believe that open source is driving the evolution of the NYC tech scene - from locally grown open source projects, to startups and big enterprises that run on open source, to new organizations and collaborative models that grew up right here in New York City. The Open Tech Conference is the first conference in New York City to focus on the impact of open source locally.</p>
<p>The conference will be held from 9AM to 5PM on March 30, 2013 at the Hunter's Point Event Space in Queens (see the "Attend" tab for more information and to buy tickets). If you have something to say about open source in New York City, please consider submitting a talk!</p>
<p>The Open Tech Conference is organized by a small band of people from open-source companies in New York City, in partnership with the <a href="http://queenstech.org">Coalition for Queens</a>. If we can answer any questions, please <a href="mailto:meghan@10gen.com">contact us</a>. We look forward to seeing you at the conference!
</div>

<div class="section" id="attend_s">
<h3>Attend</h3>
<p>The conference will be held from about 9AM to 5PM on March 30, 2013 at the Hunter's Point Event Space in Queens - less than fifteen minutes from Manhattan. We'll be welcoming a variety of speakers for 30 - 60 minute talks, and coffee and lunch breaks will be provided as well.</p>
<iframe id="evntb" src="http://www.eventbrite.com/tickets-external?eid=5183572204&ref=etckt&v=2" frameborder="0" height="350" width="55%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" style="margin-top: 6px;"></iframe>
<iframe id="gmap" width="40%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=47-40+21st+Street,+Queens,+NY&amp;aq=0&amp;oq=47-40+21st+&amp;sll=40.743746,-73.948996&amp;sspn=0.010307,0.019269&amp;ie=UTF8&amp;hq=&amp;hnear=47-40+21st+St,+Queens,+New+York+11101&amp;t=m&amp;ll=40.74355,-73.949747&amp;spn=0.02276,0.036478&amp;z=14&amp;output=embed&amp;iwloc=false"></iframe>
</div>

<!-- <div class="section" id="speakers_s">
<h3>Confirmed Speakers</h3>
<p>Speakers at the first NYC open tech conference include:</p>
<h3>Sumana Harihareswara - Engineering Community Manager, Wikimedia Foundation</h3>
<p>
  <p>Sumana Harihareswara manages projects and people, currently as Volunteer Development Coordinator at the <a href="http://wikimediafoundation.org">Wikimedia Foundation</a>, where she leads the Technical Liaisons and Developer Relations group (<a href="https://blog.wikimedia.org/2011/11/15/tld/"><span class="caps">TLDR</span></a>).  She has worked at <a href="http://www.collabora.co.uk">Collabora</a>, <a href="http://www.gnome.org"><span class="caps">GNOME</span></a>,  <a href="http://questioncopyright.org">QuestionCopyright.org</a>, <a href="http://www.fogcreek.com">Fog Creek Software</a>, <a href="http://www.behaviordesign.com">Behavior</a>, and <a href="http://www.salon.com">Salon.com</a>, and contributed to the <a href="https://www.mediawiki.org">MediaWiki</a>, AltLaw, <a href="http://live.gnome.org/Empathy">Empathy</a>, <a href="http://www.getmiro.com/">Miro</a>, and <a href="http://live.gnome.org/Zeitgeist">Zeitgeist</a> open source projects.  She is a blogger at <a href="http://geekfeminism.org/">GeekFeminism</a> and an advisory board member for <a href="http://adainitiative.org/about-us/">the Ada Initiative</a>, and was editor and release organizer for <a href="http://gnomejournal.org/"><span class="caps">GNOME</span> Journal</a>.  Harihareswara has presented at Foo Camp, <a href="http://opensourcebridge.org/2011/wiki/Learn_Tech_Management_In_45_Minutes">Open Source Bridge 2011</a>, <a href="http://opensourcebridge.org/2010/wiki/The_Second_Step:_HOWTO_encourage_open_source_work_at_for-profits">Open Source Bridge 2010</a>, MindCamp Seattle 2008 (“Three Models of Power: A Political Science Lens on Your Organization”), keynoted <a href="http://www.picconf.org"><span class="caps">PICC</span></a>, led or organized several Wikimedia hackathons, taught several courses at UC Berkeley, and performed at Bay Area stand-up comedy venues.  She holds an MS in Technology Management from Columbia University.</p>
</p>
 --><!-- Sumana Harihareswara introduces you to your Open Tech neighbors.  Who's making open source software, open data, open hardware, and open culture? And who's taking that and running with it?  If you are skeptical that this whole thing can work, hear about a wide variety of New York City institutions and people who depend on it every day.  Buzzwords include  "Wikipedia," "fan fiction," and "business model."
 -->
<!-- </p>
<h3>Andy Parsons - CTO, Happify</h3>
<p>x</p>
</div>
 -->
<div class="section" id="speak_s">
<h3>Call for Talks</h3>
<div>
    <p>
            We're looking for talks centered on projects and organizations that are connected with NYC, either in origin or impact, or ideally both. Though we expect many talks to have a technical orientation, one of the objectives of the conference is reaching as diverse an audience as possible. We'd love to hear about:
            <ul style="margin-top: 6px; margin-bottom: 20px;">
                <li>How open source is powering your NYC-based company or nonprofit, especially in finance, media, advertising or culture</li>
                <li>How you're using open source with a local impact (e.g. building / operating a NYC-based physical goods factory, organizing a NYC-based community group)</li>
                <li>Discussions of the open source community in NYC, its evolution or impact</li>
                <li>Discussions of state / local policy touching on open source</li>
            </ul>
    </p>
</div>
<iframe id="talksubmit" src="https://docs.google.com/a/10gen.com/spreadsheet/embeddedform?formkey=dFVnSTRnOFNrWGVzVXZKQ2ZQMVdHanc6MQ" width="80%" height="440" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<div class="section" id="blog_s">
<h3>Blog</h3>
<!-- <iframe style="width: 800px; height: 1000px;" src="http://opentechnyc.tumblr.com/"></iframe> -->
</div>

<div class="section" id="fsp_s">
<h3>Friendly Space Policy</h3>
<p>Open Tech NYC is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, religion, or preferred Creative Commons license (and not limited to those aspects). We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue or talks. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.</p>
<p>Harassment includes but is not limited to offensive verbal comments related to gender, sexual orientation, gender identity or expression, disability, physical appearance, body size, race, ethnicity, political affiliation, or religion. Harassment also includes sexual images in public spaces, deliberate intimidation, stalking, unwelcome following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
<p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by special badges.</p>
<p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
Organizers: Meghan Gill, meghan@10gen.com and Justin Dunham, justin@10gen.com</p>
<!-- <p>Local phone numbers:</p>
<ul>
<li>Cabs: Ecua Cab Company, 718-204-8412</li>
<li>Venue Security: </li>
<li>Local Law Enforcement: </li>
<li>Medical: </li>
<li>Sexual Assault Hotline: </li>
</ul>
 -->
<p>Local phone numbers for hotel/venue security, local law enforcement, local sexual assault hot line, local emergency and non-emergency medical, and local taxi company to be publicized to event participants as appropriate on a per-event basis.</p>
<p>We expect participants to follow these rules at all conference venues and conference-related social events.</p>
</div>

<div id="bottom">
<a href="javascript:void(0);" id="fsp_c">Friendly Space Policy</a>
<p style="display: inline; margin-left: 10px; margin-right: 10px; padding: 0px;">&bull;</p>
<a href="mailto:meghan@10gen.com">Contact Us</a>
</div>