<% content_for :css do %>
	<%= include_stylesheets :all %>
<% end %>

<div style="padding: 30px 30px 0px 30px;">
<h1 style="padding: 30px; margin-top: 10px; background-color: whitesmoke; opacity: .9;">Open source is powering the NYC tech scene.</h1>
<h3 style="color:white; padding: 20px 30px 0px 30px; line-height: 30px;">NY Open Tech Conference<br/>Spring 2013<br/>Queens, New York</h3>
</div>

<div style="padding:30px; font-size: 20px;">
<form class="form-horizontal" style="padding: 20px 30px 0px 30px; background-color: whitesmoke; opacity: .9;" id="signup_form">
 <div class="control-group">
    <label class="control-label" for="inputPassword">I'd like to...</label>

    	<div class="controls">
		<label class="checkbox">
        <input type="checkbox" name="attend"><b>Attend.</b> Let me know when registration opens!
      	</label>
    	</div>

    	<div class="controls">
		<label class="checkbox">
        <input type="checkbox" name="sponsor"><b>Support the NYC open source community</b> by sponsoring the event.
      	</label>
    	</div>

    	<div class="controls">
		<label class="checkbox">
        <input type="checkbox" name="talk" id="talk"><b>Give a talk.</b>
      	</label>
    	</div>

		<div class="controls" id="talkdetails" style="display: none;">
		<label>Please tell us in a few sentences what your talk will be about.</label>
    	<textarea rows="3" style="width: 400px;" name="talkdesc"></textarea>
    	</div>

    	<div class="control-group">
		<div class="form-actions">
		  <input type="text" placeholder="Email address" id="email_address" name="email">  
		  <button type="submit" class="btn btn-primary" id="submit_button" onclick="return false;">Submit</button>
		  <label style="margin-top:4px; display: none;" id="thanks"></label>
		</div>
		</div>
</form>

<!--<p style="font-size: 12px; padding: 30px; background-color: whitesmoke; ">Supporter logos go here...</p>-->
</div>

<small style="padding: 10px; color: gray;">Attribution</small>
<% content_for :js do %>
	<%= include_javascripts :all %>
<% end %>
