<% content_for :css do %>
	<%= include_stylesheets :all %>
<% end %>

<div id="title-container" style="padding:30px;">
<h1 style="padding: 30px; margin-top: 10px; background-color: whitesmoke; opacity: .9">Open source is powering the NYC tech scene.</h1>
</div>

<div id="main-container" style="">
<div style="padding-left: 60px; padding-right: 60px;">
<h2 style="color:white;">NY Open Tech Conference<br/>Spring 2013<br/>Queens, New York</h2>
</div>

<div class="features">
<div class="featurebox c-shadow-big">
  <h2>Attend</h2>
  <p>Find out when registration is open by signing up for our mailing list:</p>
</div>


<div class="featurebox c-shadow-big">
  <h2>Speak</h2>
  <p>We're looking for speakers on topics relates Propose a talk on how open source technology is NYC</p>
</div>

<div class="featurebox c-shadow-big">
  <h2>Sponsor</h2>
  <p>Support the NYC technology community by sponsoring the conference</p>
</div>
</div>
</div>

<div id="title-container" style="padding:30px;">
<p style="padding: 30px; margin-top: 10px; background-color: whitesmoke; opacity: .9;">Supporter logos go here...</p>
</div>

<small style="padding: 10px; color: white;">Attribution</small>
<% content_for :js do %>
	<%= include_javascripts :all %>
<% end %>
