<% content_for :css do %>
	<%= include_stylesheets :all %>
<% end %>

<% content_for :js do %>
    <%= include_javascripts :all %>
<% end %>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" id="brand">Open Tech NYC 2013<span class="smaller">March 30, 2013 / Queens, New York</span></a>
    <ul class="nav" id="navbar">
      <li><a href="javascript:void(0);" id="attend_c">Attend</a></li>
      <li><a href="javascript:void(0);" id="about_c">About</a></li>
      <li><a href="javascript:void(0);" id="agenda_c">Agenda</a></li>
      <li><a href="javascript:void(0);" id="speakers_c">Speakers</a></li>
      <li><a href="javascript:void(0);" id="sponsor_c">Sponsors</a></li>
      <li><a href="javascript:void(0);" id="speak_c">Call for Talks</a></li>
      <li><a href="javascript:void(0);" id="blog_c">Blog</a></li>
    </ul>
  </div>
</div>

<div class="section" id="about_s">
<h1>Open source is powering the NYC tech scene.</h1>
<h3>NYC Open Tech Conference<br/>March 30, 2013<br/>Queens, New York<br/></h3>
<p>We believe that open source is driving the evolution of the NYC tech scene - from locally grown open source projects, to startups and big enterprises that run on open source, to new organizations and collaborative models that grew up right here in New York City. The Open Tech Conference is the first conference in New York City to focus on the impact of open source locally.</p>
<p>The conference will be held from 9AM to 5PM on March 30, 2013 at the Hunter's Point Event Space in Queens (see the "Attend" tab for more information and to buy tickets). If you have something to say about open source in New York City, please consider submitting a talk!</p>
<p>The Open Tech Conference is organized by a small band of people from open-source companies in New York City, in partnership with the <a href="http://queenstech.org">Coalition for Queens</a>. If we can answer any questions, please <a href="mailto:meghan@10gen.com">contact us</a>. We look forward to seeing you at the conference!
</div>

<div class="section" id="attend_s">
<h2>Attend</h2>
<p>The conference will be held from 9:30AM to 4:30PM on March 30, 2013 at the Hunter's Point Event Space in Queens - less than fifteen minutes from Manhattan. We'll be welcoming a variety of speakers for 45 minute talks, and coffee and lunch breaks will be provided as well.</p>
<p>Buy tickets below, or <a style="text-decoration:underline;" href="http://www.eventbrite.com/event/5183572204">go directly to the event page on Eventbrite</a>.</p>
<iframe id="evntb" src="http://www.eventbrite.com/tickets-external?eid=5183572204&ref=etckt&v=2" frameborder="0" height="350" width="55%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" style="margin-top: 6px;"></iframe>
<iframe id="gmap" width="40%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=47-40+21st+Street,+Queens,+NY&amp;aq=0&amp;oq=47-40+21st+&amp;sll=40.743746,-73.948996&amp;sspn=0.010307,0.019269&amp;ie=UTF8&amp;hq=&amp;hnear=47-40+21st+St,+Queens,+New+York+11101&amp;t=m&amp;ll=40.74355,-73.949747&amp;spn=0.02276,0.036478&amp;z=14&amp;output=embed&amp;iwloc=false"></iframe>
</div>

<div class="section" id="agenda_s">
<h2>Agenda</h2>
<table>
<tr>
  <td class="time">9:30 - 10:00</td>
  <td><p>Registration and coffee by <a href="http://joyridecoffee.com">Joyride</a></p></td>
</tr>
<tr>
  <td class="time">10:00 - 10:45</td>
  <td>
    <span class="bioname">Sumana Harihareswara</span>
    <span class="biotitle">Engineering Community Manager, Wikimedia Foundation</span>
    <p><span class="talkintro">Sumana Harihareswara introduces you to your Open Tech neighbors.</span> Who's making open source software, open data, open hardware, and open culture? And who's taking that and running with it?  If you are skeptical that this whole thing can work, hear about a wide variety of New York City institutions and people who depend on it every day.  Buzzwords include  "Wikipedia," "fan fiction," and "business model."</p>
</td>
</tr>
<tr>
  <td class="time">10:45 - 11:30</td>
  <td>
    <span class="bioname">Joel Natividad</span>
    <span class="biotitle">Co-Founder / CEO, Ontodia</span>
    <p><span class="talkintro">Open Data and Open Source: The Wonder Twins of Civic Hacking</span> New York City aims to be the "Digital City of the Future". And it's well on its way! Having just celebrated the first anniversary of its landmark, groundbreaking Open Data Law, DataGotham is once again setting the pace in urban innovation by mandating that all city agencies release their data to the public.  This is a veritable treasure trove for the open source community. Joel will give an overview of the City’s Open Data Initiative, including a short history of how the Open Data Law came about, how it powers NYCBigApps, and how the data is being used for all kinds of innovations - by the City, by Civic Hackers and the private sector to improve the lives of New Yorkers and to create new businesses. He will also preview the Linked Data Commons that Ontodia is building and launching summer of 2013.</p>
</td>
</tr>
<tr>
  <td class="time">11:30 - 11:45</td>
  <td><p>Coffee break by <a href="">Joyride</a></p>
  </td>
</tr>
<tr>
  <td class="time">11:45 - 12:30</td>
  <td>
    <span class="bioname">Alan Hudson</span>
    <span class="biotitle">Director, 3D Tools, Shapeways</span>
    <p><span class="talkintro">New York, 3D Printing, and Open Source.</span> Alan will talk about how open source powers Shapeways, its 3D Tools, and its factory in Long Island City.</p>
  </td>
</tr>
<tr>
  <td class="time">12:30 - 1:30</td>
  <td><p>Lunch! Sponsored by <a href="http://careers.stackoverflow.com">Careers 2.0 by Stack Overflow</a></p>
  </td>
</tr>
<tr>
  <td class="time">1:30 - 2:15</td>
  <td>
    <span class="bioname">Jon Gottfried</span>
    <span class="biotitle">Developer Evangelist, Twilio</span>
    <p><span class="talkintro">History of the Hackathon.</span> Jon will talk about hackers / hackathons as an open technology movement, with a particular focus on hacker culture in New York City. We'll look at the evolution of the hackathon, different takes on this event format, and the pros and cons of building something in such a constrained time period. We'll also talk about the motivations of both participants and brands to engage in these events and how they might evolve in the future.</p>
  </td>
</tr>
<tr>
  <td class="time">2:15 - 3:00</td>
  <td><p>TBD. Maybe you? <a class="youlink">Submit a talk proposal!</a>
</tr>
<tr>
  <td class="time">3:00 - 3:15</td>
  <td><p>Break</p>
  </td>
</tr>
<tr>
  <td class="time">3:15 - 4:00</td>
  <td><p>TBD. Maybe you? <a class="youlink">Submit a talk proposal!</a>
</p>
  </td>
</tr>
<tr>
  <td class="time">4:00 - 4:45</td>
  <td>
    <span class="bioname">Andy Parsons</span>
    <span class="biotitle">Co-Founder / CTO, Happify</span>
    <p><span class="talkintro">The NYC Innovation Stack.</span> How much is NYC business innovation driving Open Source, and how much is Open Source driving NYC innovation? We'll look at the unique environment that has developed in New York, and how it has become optimal for nurturing creative technology and smart FLOSS-based businesses. As frameworks and tooling are created and enhanced by NYC developers, the city self is adapting and we seeing a golden age of tech education, activity and revenue. Where have we been and where are we headed? Andy will touch on what each of us can do to contribute and build value for our projects.</p>
  </td>
</tr>
</table>
</div>

<div class="section" id="sponsor_s">
<h2>Sponsors</h2>
<p>Open Tech NYC is sponsored by:</p>

<ul>
<li><a href="http://careers.stackoverflow.com"><img class="sponsor" src="/images/careers20_logo.png"></a></li>
<li><a href="http://www.queenstech.org/"><img class="sponsor" src="/images/c4q_logo.png"></a></li>
<li><a href="http://www.joyridecoffee.com/"><img class="sponsor" src="/images/joyride_logo.png"></a></li>
<li><a href="http://www.10gen.com/"><img class="sponsor" src="/images/10gen_logo.png"></a></li>
</ul>

</div>

<div class="section" id="speakers_s">
<h2>Confirmed Speakers</h2>

<h3>Jon Gottfried</h3>
<h4>Developer Evangelist, <a href="http://www.twilio.com" target="_blank">Twilio</a></h4>
<p class="bio">Jon is currently a Developer Evangelist at Twilio, co-founder of the Hacker Union, and conductor of the New York StartupBus. He works with amazing developers and startups every day to help them bring their ideas to fruition and spread them to the world.</p>

<h3>Sumana Harihareswara</h3>
<h4>Engineering Community Manager, <a href="http://www.wikimedia.org" target="_blank">Wikimedia Foundation</a></h4>
<p class="bio">Sumana Harihareswara manages projects and people, currently as Engineering Community Manager at the <a href="http://wikimediafoundation.org">Wikimedia Foundation</a>, where she leads the Engineering Community Team (ECT).  She has worked at <a href="http://www.collabora.co.uk">Collabora</a>, <a href="http://www.gnome.org"><span class="caps">GNOME</span></a>,  <a href="http://questioncopyright.org">QuestionCopyright.org</a>, <a href="http://www.fogcreek.com">Fog Creek Software</a>, <a href="http://www.behaviordesign.com">Behavior</a>, and <a href="http://www.salon.com">Salon.com</a>, and contributed to the <a href="https://www.mediawiki.org">MediaWiki</a>, AltLaw, <a href="http://live.gnome.org/Empathy">Empathy</a>, <a href="http://www.getmiro.com/">Miro</a>, and <a href="http://live.gnome.org/Zeitgeist">Zeitgeist</a> open source projects.  She is a blogger at <a href="http://geekfeminism.org/">GeekFeminism</a> and an advisory board member for <a href="http://adainitiative.org/about-us/">the Ada Initiative</a>, and was editor and release organizer for <a href="http://gnomejournal.org/"><span class="caps">GNOME</span> Journal</a>. She holds an MS in Technology Management from Columbia University.</p>
</p>

<h3>Alan Hudson</h3>
<h4>Director, 3D Tools, <a href="http://www.shapeways.com" target="_blank">Shapeways</a></h4>
<p class="bio">Alan is a leader in the development of 3D graphics standards and open source systems, and has been involved in 3D graphics for over a decade.  He has contributed to the VRML, X3D and COLLADA standards and has served as President of the Web3D consortium for several years. Alan is involved in many open source projects and manages over a million lines of open source code.  A veteran of four startups, he currently works at Shapeways as their Director of 3D tools, helping further the 3D printing revolution.</p>

<h3>Joel Natividad</h3>
<h4>Co-Founder / CEO, <a href="http://www.ontodia.com" target="_blank">Ontodia</a></h4>
<p class="bio">Joel is the CEO and co-founder of Ontodia - an Urban Informatics startup aiming to create “Smarter Cities” through the power of Big Linked Open Data. Ontodia was the Grand Prize Winner of NYCBigApps 2012. He was also part of the team that won the Large Organization Award at NYCBigApps 2011.  At the time, he headed TCG’s Knowledge Engineering Practice, where his team deployed enterprise solutions powered by semantic technologies at Fortune 500 firms around the world.
</p>

<h3>Andy Parsons</h3>
<h4>Co-Founder / CTO, <a href="http://www.happify.com" target="_blank">Happify</a></h4>
<p class="bio">Andy is co-founder/CTO at Happify and former founding CTO of Bookish. He has been a fixture on the NYC startup technology scene for many years, running engineering at companies here including Juice Software, Digital Railroad, and Outside.in (acquired by AOL). His passions include building big, scalable systems and small, happy engineering teams. Andy is a frequent presenter at General Assembly and has spoken at events including Pycon, Surge Conf, Pivotal Labs Tech Talks, and O'Reilly's MySQLConf. He advises a number of exciting startups in media and consumer tech and is a mentor at SeedCamp, IBM SmartCamp, and TechPeaks. Andy's contributions to the NYC ecosystem also include starting the NYC Sproutcore/Ember javascript meetup and presenting at Prince Building Tech Talks. He is a professional composer and saxophonist, and proud Brooklynite.</p>

<h3>You?</h3>
<p><a class="youlink">Submit a talk proposal!</a></p>
</div>

<div class="section" id="speak_s">
<h3>Call for Talks</h3>
<div>
    <p>
            We're looking for talks centered on projects and organizations that are connected with NYC, either in origin or impact, or ideally both. Though we expect many talks to have a technical orientation, one of the objectives of the conference is reaching as diverse an audience as possible. We'd love to hear about:
            <ul style="margin-top: 6px; margin-bottom: 20px;">
                <li>How open source is powering your NYC-based company or nonprofit, especially in finance, media, advertising or culture</li>
                <li>How you're using open source with a local impact (e.g. building / operating a NYC-based physical goods factory, organizing a NYC-based community group)</li>
                <li>Discussions of the open source community in NYC, its evolution or impact</li>
                <li>Discussions of state / local policy touching on open source</li>
            </ul>
    </p>
</div>
<iframe id="talksubmit" src="https://docs.google.com/a/10gen.com/spreadsheet/embeddedform?formkey=dFVnSTRnOFNrWGVzVXZKQ2ZQMVdHanc6MQ" width="80%" height="440" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<div class="section" id="blog_s">
<h2>Blog</h2>
</div>

<div class="section" id="fsp_s">
<h2>Friendly Space Policy</h2>
<p>Open Tech NYC is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, religion, or preferred Creative Commons license (and not limited to those aspects). We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue or talks. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.</p>
<p>Harassment includes but is not limited to offensive verbal comments related to gender, sexual orientation, gender identity or expression, disability, physical appearance, body size, race, ethnicity, political affiliation, or religion. Harassment also includes sexual images in public spaces, deliberate intimidation, stalking, unwelcome following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
<p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by special badges.</p>
<p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
Organizers: Meghan Gill, meghan@10gen.com and Justin Dunham, justin@10gen.com</p>
<!-- <p>Local phone numbers:</p>
<ul>
<li>Cabs: Ecua Cab Company, 718-204-8412</li>
<li>Venue Security: </li>
<li>Local Law Enforcement: </li>
<li>Medical: </li>
<li>Sexual Assault Hotline: </li>
</ul>
 -->
<p>Local phone numbers for hotel/venue security, local law enforcement, local sexual assault hot line, local emergency and non-emergency medical, and local taxi company to be publicized to event participants as appropriate on a per-event basis.</p>
<p>We expect participants to follow these rules at all conference venues and conference-related social events.</p>
</div>

<div id="bottom">
<a href="javascript:void(0);" id="fsp_c">Friendly Space Policy</a>
<p style="display: inline; margin-left: 10px; margin-right: 10px; padding: 0px;">&bull;</p>
<a href="mailto:meghan@10gen.com">Contact Us</a>
</div>