<% content_for :css do %>
	<%= include_stylesheets :all %>
<% end %>

<div style="padding: 30px 30px 0px 30px;">
<h1 style="padding: 30px; margin-top: 10px; background-color: whitesmoke; opacity: .9;">Open source is powering the NYC tech scene.</h1>
<h3 style="color:white; padding: 20px 30px 0px 30px; line-height: 30px;">NYC Open Tech Conference<br/>Spring 2013<br/>Queens, New York</h3>
</div>

<div style="padding:30px; font-size: 20px;">
<form class="form-horizontal" style="padding: 20px 30px 0px 30px; background-color: whitesmoke; opacity: .9;" id="signup_form">
 <div class="control-group">
    <label class="control-label" for="inputPassword">I'd like to...</label>

    	<div class="controls">
		<label class="checkbox">
        <input type="checkbox" name="attend"><b>Attend.</b> Let me know when registration opens!
      	</label>
    	</div>

    	<div class="controls">
		<label class="checkbox">
        <input type="checkbox" name="sponsor"><b>Support the NYC open source community</b> by sponsoring the event.
      	</label>
    	</div>

    	<div class="controls">
		<label class="checkbox">
        <input type="checkbox" name="talk" id="talk"><b>Give a talk.</b> <a href="javascript:void();" onclick="$('#moreinfo').slideToggle('fast');">What kinds of talks are you looking for? &raquo;</a>
      	</label>
            <div id="moreinfo" style="display: none; width: 700px; font-size: 14px;">
        	We're looking for talks centered on projects and organizations that are connected with NYC, either in origin or impact, or ideally both. Though we expect many talks to have a technical orientation, one of the objectives of the conference is reaching as diverse an audience as possible. We'd love to hear about:
            <ul style="margin-top: 6px;">
                <li>How open source is powering your NYC-based company or nonprofit, especially in finance, media, advertising or culture</li>
                <li>How you're using open source with a local impact (e.g. building / operating a NYC-based physical goods factory, organizing a NYC-based community group)</li>
                <li>Discussions of the open source community in NYC, its evolution or impact</li>
                <li>Discussions of state / local policy touching on open source</li>
                <li>NYC-based artists discussing how they use open source in projects visible in NYC</li>
            </ul>
            </div>
        </div>

		<div class="controls" id="talkdetails" style="display: none;">
		<label>Please tell us in a few sentences what your talk will be about.</label>
    	<textarea rows="3" style="width: 700px;" name="talkdesc"></textarea>
    	</div>

    	<div class="control-group">
		<div class="form-actions">
		  <input type="text" placeholder="Email address" id="email_address" name="email">  
		  <button type="submit" class="btn btn-primary" id="submit_button" onclick="return false;">Submit</button>
		  <label style="margin-top:4px; display: none;" id="thanks"></label>
		</div>
		</div>
</form>

<!--<p style="font-size: 12px; padding: 30px; background-color: whitesmoke; ">Supporter logos go here...</p>-->
</div>

<p style="margin-top: 140px; font-size: 12px; text-decoration: none; color: whitesmoke;"><a style="text-decoration: none; color: whitesmoke;" target="_blank" href="http://www.flickr.com/photos/58708751@N00/2115981739/sizes/o/in/photostream/">Photo: flickr user pchurch92</a></p>
<% content_for :js do %>
	<%= include_javascripts :all %>
<% end %>
