<!DOCTYPE html>
<html>
<head>
	<title>Open Tech NYC 2013</title>
	<%= yield :css %>
	<%= csrf_meta_tag %>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "ur-cadbe9c9-ccba-911-ad14-6d94bd0a3ae1", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
</head>
<body>
    <%= yield %>
	<%= yield :js %>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38331616-1']);
	  _gaq.push(['_setDomainName', 'opentech2013.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>

</html>
